In [3]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
dataset = [
['A', 'B', 'C', 'D', 'F', 'H'],
['B', 'E', 'F', 'H'],
['A', 'C', 'E'],
['B', 'C', 'D', 'F', 'H'],
['A', 'B', 'C', 'D', 'E'],
['C','D','F','H'],
['A','C','D','H'],
['E','H']
]

In [5]:
encoder = TransactionEncoder()
transactions = encoder.fit_transform(dataset)
data = pd.DataFrame(transactions, columns=encoder.columns_)
data

       A      B      C      D      E      F      H
0   True   True   True   True  False   True   True
1  False   True  False  False   True   True   True
2   True  False   True  False   True  False  False
3  False   True   True   True  False   True   True
4   True   True   True   True   True  False  False
5  False  False   True   True  False   True   True
6   True  False   True   True  False  False   True
7  False  False  False  False   True  False   True

In [6]:
frequent_itemsets = apriori(data, min_support=0.5, use_colnames=True)
frequent_itemsets

    support   itemsets
0     0.500        (A)
1     0.500        (B)
2     0.750        (C)
3     0.625        (D)
4     0.500        (E)
5     0.500        (F)
6     0.750        (H)
7     0.500     (C, A)
8     0.625     (D, C)
9     0.500     (H, C)
10    0.500     (H, D)
11    0.500     (H, F)
12    0.500  (D, H, C)

In [7]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(A),(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
1,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf,0.666667
2,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25,1.000000
3,(D),(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25,0.166667
4,(F),(H),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
5,"(H, D)",(C),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.500000
6,"(C, D)",(H),0.625,0.750,0.500,0.800000,1.066667,0.03125,1.25,0.166667
7,"(H, C)",(D),0.500,0.625,0.500,1.000000,1.600000,0.18750,inf,0.750000
8,(D),"(H, C)",0.625,0.500,0.500,0.800000,1.600000,0.18750,2.50,1.000000

In [8]:
frequent_itemsets = apriori(data, min_support=0.6, use_colnames=True)
frequent_itemsets

   support itemsets
0    0.750      (C)
1    0.625      (D)
2    0.750      (H)
3    0.625   (D, C)

In [9]:
association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(D),(C),0.625,0.750,0.625,1.000000,1.333333,0.15625,inf,0.666667
1,(C),(D),0.750,0.625,0.625,0.833333,1.333333,0.15625,2.25,1.000000